section.cabinet

    .container

        .cabinet__wrapper

            .cabinet__navigation

                ul.cabinet__nav
                    li.active
                        a(href='#') Профиль
                    li
                        a(href='#') Грузы
                    li
                        a(href='#') Поездки
                    li
                        a(href='#') Мероприятия
                    li
                        a(href='#') Сообщения
                    li
                        a(href='#') Отзывы
                    li
                        a(href='#') Настройки

        .cabinet__wrapper

            .cabinet__wrapper--avatar

                .cabinet__avatar

                .cabinet__user-male
                    span.cabinet__user-male--title Пол:
                    span.cabinet__user-male--val Муж
                .cabinet__user-data
                    h3.cabinet__user-data--title Подтверждения данных
                    ul.cabinet__user-data--list
                        li
                            a(href='#') Подтвердите номер телефона
                        li
                            a(href='#') Подтвердите эл. почту


            .cabinet__wrapper--descr

                .cabinet__user-name Иван Петров



                h3 О себе:
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla paria

                h3 Предпочтения:
                ul
                    li orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    li tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    li veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    li commodo consequat. Duis aute irure dolor in reprehenderit in
                    li voluptate velit esse cillum dolore eu fugiat nulla paria


            .cabinet__wrapper--rating

                .cabinet__rating
                    .cabinet__rating--starts
                        span.star.fill-star
                        span.star.fill-star
                        span.star.fill-star
                        span.star
                        span.star
                    span.cabinet__rating--val 3,25
                    span.cabinet__rating--total (15 оценок)


