footer.footer

    .container

        ul.footer__nav
            li
                a(href='/') Главная
            li
                a(href='#') О нас
            li
                a(href='#') правила
            li
                a(href='#') контакты
            li
                a(href='#') политика конфиденциальности

        .footer__box

            a(href='/').header__logo
                img(src='img/head-logo.png' alt='logo')

            .header__elements

                a(href='mailto:').header__email post@gmail.com

                .header__social

                    a(href='#').header__social-link
                        i.fa.fa-vk
                    a(href='#').header__social-link
                        i.fa.fa-facebook-square
                    a(href='#').header__social-link
                        i.fa.fa-twitter-square
                    a(href='#').header__social-link
                        i.fa.fa-google-plus-square

                a(href='login.html').header__login Личный кабинет
                a(href='registration.html').header__reg Регистрация

                a(href='#').header__add Добавить на сайт


    .footer__art
        .container
            .footer__art-wrapper
                img(src='img/icons/foot-sm-logo-icon.png' alt='logo')
                p лучший сервис для поиска курьеров и попутчиков
                p Мы объединяем людей, помогаем в коммуникации, покоряем расстояния

a#Go-Top(href='#')
    svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 284.929 284.929" xml:space="preserve")
        g
            path( d="M282.082,195.285L149.028,62.24c-1.901-1.903-4.088-2.856-6.562-2.856s-4.665,0.953-6.567,2.856L2.856,195.285   C0.95,197.191,0,199.378,0,201.853c0,2.474,0.953,4.664,2.856,6.566l14.272,14.271c1.903,1.903,4.093,2.854,6.567,2.854   c2.474,0,4.664-0.951,6.567-2.854l112.204-112.202l112.208,112.209c1.902,1.903,4.093,2.848,6.563,2.848   c2.478,0,4.668-0.951,6.57-2.848l14.274-14.277c1.902-1.902,2.847-4.093,2.847-6.566   C284.929,199.378,283.984,197.188,282.082,195.285z" )
