footer.footer

    .container

        ul.footer__nav
            li
                a(href='#') Главная
            li
                a(href='#') О нас
            li
                a(href='#') правила
            li
                a(href='#') контакты
            li
                a(href='#') политика конфиденциальности

    .footer__art
        .container
            .footer__art-wrapper
                img(src='img/icons/foot-sm-logo-icon.png' alt='logo')
                p лучший сервис для поиска курьеров и попутчиков
                p Мы объединяем людей, помогаем в коммуникации, покоряем расстояния