footer.footer

    .container

        ul.footer__nav
            li
                a(href='#') Главная
            li
                a(href='#') О нас
            li
                a(href='#') правила
            li
                a(href='#') контакты
            li
                a(href='#') политика конфиденциальности

        .footer__box

            a(href='/').header__logo
                img(src='img/head-logo.png' alt='logo')

            .header__elements

                a(href='mailto:').header__email post@gmail.com

                .header__social

                    a(href='#').header__social-link
                        i.fa.fa-vk
                    a(href='#').header__social-link
                        i.fa.fa-facebook-square
                    a(href='#').header__social-link
                        i.fa.fa-twitter-square
                    a(href='#').header__social-link
                        i.fa.fa-google-plus-square

                a(href='login.html').header__login Личный кабинет
                a(href='registration.html').header__reg Регистрация

                a(href='#').header__add Добавить на сайт


    .footer__art
        .container
            .footer__art-wrapper
                img(src='img/icons/foot-sm-logo-icon.png' alt='logo')
                p лучший сервис для поиска курьеров и попутчиков
                p Мы объединяем людей, помогаем в коммуникации, покоряем расстояния