header.header

    .container

        a(href='/').header__logo
            img(src='img/head-logo.png' alt='logo')

        .header__elements

            a(href='mailto:').header__email post@gmail.com

            .header__social

                a(href='#').header__social-link
                    i.fa.fa-vk
                a(href='#').header__social-link
                    i.fa.fa-facebook-square
                a(href='#').header__social-link
                    i.fa.fa-twitter-square
                a(href='#').header__social-link
                    i.fa.fa-google-plus-square

            a(href='add-proposal.html').header__add Добавить на сайт
            .header__user-menu
                span.header__user-menu--name Александр
                span.header__user-menu--notification 88+
                span.header__user-menu--arr

            .header__user-dropdown

                ul
                    li
                        a(href='#').current Профиль
                    li
                        a(href='#') Грузы
                    li
                        a(href='#') Сообщения
                            span.new-notification 88+
                    li
                        a(href='#') Настройки
                    li
                        a(href='#') Отзывы