section.info

     h3.info__title ДЛЯ КОГО СОЗДАН ПОРТАЛ?

     .container

        .info__elements

            .info__element
                .info__element--photo
                    img(src='img/icons/family-icon.png' alt='icon' )

                .info__element--text
                    p Для любого человека независимо от пола, рода и вида деятельности

            .info__element
                .info__element--photo
                    img(src='img/icons/lorry-icon.png' alt='icon' )

                .info__element--text
                    p Для людей которые хотят быстро куда-то доехать или быстро отправить свой груз

            .info__element
                .info__element--photo
                    img(src='img/icons/coins-icon.png' alt='icon' )

                .info__element--text
                    p Для людей которые хотят потратить меньше денег на топливо для поездки или даже заработать

            .info__element
                .info__element--photo
                    img(src='img/icons/hands-icon.png' alt='icon' )

                .info__element--text
                    p Для людей которые ищут единомышленников для путешествий

