section.offers

    h3 посмотрите предложения

    .container

        .offers__elements

            .offers__element
                .offers__text_1
                    a(href='#')
                        p поездки
                .offers__photo
                    a(href='#')
                        img(src='img/trip-banner.png')
                .offers__link
                    a(href='#') посмотреть

            .offers__element
                .offers__text_2
                    a(href='#')
                        p посылки
                .offers__photo
                    a(href='#')
                        img(src='img/cargo-banner.png')
                .offers__link
                    a(href='#') посмотреть

