section.offers

    h3.offers__title посмотрите предложения

    .container

        .offers__elements

            .offers__element

                a(href='#').offers__element--title поездки

                a(href='#').offers__photo
                    img(src='img/trip-banner.png')

                a(href='#').offers__link посмотреть

            .offers__element

                a(href='#').offers__element--title посылки

                a(href='#').offers__photo
                    img(src='img/cargo-banner.png')

                a(href='#').offers__link посмотреть



