section.reg

    .container

        h1.reg__title Регистрация нового пользователя

        h3.reg__subtitle Для регистрации заполните поля ниже:

        form.reg__form

            input(type='text' name='e-mail' placeholder='Ваш E-mail').reg__form--field

            input(type='password' name='password' placeholder='Пароль').reg__form--field

            input(type='submit' value='Зарегистрироваться').reg__form--submit

            a(href='#').reg__form--link Уже есть аккаунт - войдите

            h3.reg__linktitle Вход через социальные сети:

            .reg__social
                a(href='#').reg__social--link
                    i.fa.fa-vk
                a(href='#').reg__social--link
                    i.fa.fa-facebook-square


            p.reg__agreement Реєструючись или входя через социальные сети, Ви принимаете наши
                a(href='#')  Условия пользованиея
                a(href='#')  и Политику конфеденциальности.