section.search-banner

    .container

        form.search-banner__form

            .search-banner__form--from
                input(type='text' name='from' placeholder='Откуда').search-banner__form--field

            .search-banner__form--to
                input(type='text' name='from' placeholder='Куда').search-banner__form--field

            .search-banner__form--date
                input(type='text' name='from' placeholder='Дата').search-banner__form--field

            input(type='submit' value='поиск').search-banner__form--submit

