section.offers

    .info__separator

        .container

            h1.info__separator--title Мы созданы чтобы помогать людям!

            .info__separator--icon
                img(src='img/icons/white-logo-icon.png' )

    .offers__wrapper

        .container

            form.search-banner__form

                .search-banner__form--from
                    input(type='text' name='from' placeholder='Откуда').search-banner__form--field

                    ul.search-banner__form--list
                        li
                            a(href='#') Донецк, Донецкая народная Республика
                        li
                            a(href='#') Донецк, Донецкая народная Республика
                        li
                            a(href='#') Донецк, Донецкая народная Республика
                        li
                            a(href='#') Донецк, Донецкая народная Республика
                        li
                            a(href='#') Донецк, Донецкая народная Республика

                .search-banner__form--to
                    input(type='text' name='to' placeholder='Куда').search-banner__form--field

                    ul.search-banner__form--list
                        li
                            a(href='#') Донецк, Донецкая народная Республика
                        li
                            a(href='#') Донецк, Донецкая народная Республика
                        li
                            a(href='#') Донецк, Донецкая народная Республика
                        li
                            a(href='#') Донецк, Донецкая народная Республика
                        li
                            a(href='#') Донецк, Донецкая народная Республика

                .search-banner__form--date
                    input(type='text' name='' placeholder='Дата').search-banner__form--field

                input(type='submit' value='поиск').search-banner__form--submit

            .offers__box

                .offers__item

                    h3 Пакет с вещами, не большой

                    .offers__item--img
                        img(src='img/cargo-banner.png' alt='img')

                    .offers__item--descr

                        .offers__item--from.from Откуда везти:
                            span.value  Москва, Московская область
                        .offers__item--from.from Куда везти:
                            span.value  Севастополь, Крым
                        .offers__item--from.final-date Срок доставки:
                            span.value  до 30.06.2018
                        .offers__item--from.date Дата последнего исправления:
                            span.value  30.06.2018


                    .offers__item--status

                        .offers__item--price бюджет:
                            span.value  2500 руб

                        a(href='proposal.html').offers__item--more посмотреть

                .offers__item

                    h3 Пакет с вещами, не большой

                    .offers__item--img
                        img(src='img/cargo-banner.png' alt='img')

                    .offers__item--descr

                        .offers__item--from.from Откуда везти:
                            span.value  Москва, Московская область
                        .offers__item--from.from Куда везти:
                            span.value  Севастополь, Крым
                        .offers__item--from.final-date Срок доставки:
                            span.value  до 30.06.2018
                        .offers__item--from.date Дата последнего исправления:
                            span.value  30.06.2018


                    .offers__item--status

                        .offers__item--price бюджет:
                            span.value  2500 руб

                        a(href='proposal.html').offers__item--more посмотреть

                .offers__item

                    h3 Пакет с вещами, не большой

                    .offers__item--img
                        img(src='img/cargo-banner.png' alt='img')

                    .offers__item--descr

                        .offers__item--from.from Откуда везти:
                            span.value  Москва, Московская область
                        .offers__item--from.from Куда везти:
                            span.value  Севастополь, Крым
                        .offers__item--from.final-date Срок доставки:
                            span.value  до 30.06.2018
                        .offers__item--from.date Дата последнего исправления:
                            span.value  30.06.2018


                    .offers__item--status

                        .offers__item--price бюджет:
                            span.value  2500 руб

                        a(href='proposal.html').offers__item--more посмотреть

                .offers__item

                    h3 Пакет с вещами, не большой

                    .offers__item--img
                        img(src='img/cargo-banner.png' alt='img')

                    .offers__item--descr

                        .offers__item--from.from Откуда везти:
                            span.value  Москва, Московская область
                        .offers__item--from.from Куда везти:
                            span.value  Севастополь, Крым
                        .offers__item--from.final-date Срок доставки:
                            span.value  до 30.06.2018
                        .offers__item--from.date Дата последнего исправления:
                            span.value  30.06.2018


                    .offers__item--status

                        .offers__item--price бюджет:
                            span.value  2500 руб

                        a(href='proposal.html').offers__item--more посмотреть

                .offers__item

                    h3 Пакет с вещами, не большой

                    .offers__item--img
                        img(src='img/cargo-banner.png' alt='img')

                    .offers__item--descr

                        .offers__item--from.from Откуда везти:
                            span.value  Москва, Московская область
                        .offers__item--from.from Куда везти:
                            span.value  Севастополь, Крым
                        .offers__item--from.final-date Срок доставки:
                            span.value  до 30.06.2018
                        .offers__item--from.date Дата последнего исправления:
                            span.value  30.06.2018


                    .offers__item--status

                        .offers__item--price бюджет:
                            span.value  2500 руб

                        a(href='proposal.html').offers__item--more посмотреть

                .pagination
                    ul
                        li.prev.disabled
                            a(href='#')
                        li.active
                            a(href='#') 1
                        li
                            a(href='#') 2
                        li
                            a(href='#') 3
                        li
                            a(href='#') 4
                        li
                            a(href='#') 5
                        li.next
                            a(href='#')