.info {
  position: relative;
  float: left;
  width: 100%;

  &__title {
    position: relative;
    float: left;
    width: 100%;
    color: #323945;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
  }

  &__elements {
    position: relative;
    float: left;
    width: 100%;
  }

  &__element {
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
    padding-left: 30px;
    padding-top: 60px;
    padding-right: 30px;
    padding-bottom: 60px;
    @include box-sizing(border-box);

    p {
      position: relative;
      float: left;
      width: 100%;
      color: #323945;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      margin-top: -80px;
    }

  }

  //&__element:before {
  //  content: ' \25CF';
  //  font-size: 200px;
  //  color: #f6f6f6;
  //
  //}

}