.offers {
  position: relative;
  float: left;
  width: 100%;
  background-color: #efefef;
  display: block;

  .info__separator {
    background-image: url('../img/orders-filter-bg.png');

    .search-banner__form {
      margin-top: 24px;
      margin-bottom: 50px;
    }
  }

  &__title {
    position: relative;
    float: left;
    width: 100%;
    color: #323945;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 32px;
  }

  &__elements {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 56px;
  }

  &__element {
    position: relative;
    float: left;
    width: 50%;
    padding-left: 60px;
    padding-right: 60px;

    @include breakpoint(max-width 700px) {
      padding: 0;
      width: 100%;
      margin-bottom: 30px;
    }

    &--title {
      position: relative;
      float: left;
      width: 100%;
      color: #1184d6;
      font-size: 18px;
      font-weight: 400;
      line-height: 18px;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 10px;

      &:hover, &:active, &:focus {
        color: #1184d6;
      }
    }
  }

  &__element:nth-of-type(even) {

    .offers__element--title {
      text-align: right;
    }
  }

  &__element:nth-of-type(odd) {

    .offers__element--title {
      text-align: left;
    }
  }

  &__photo {
    position: relative;
    float: left;
    width: 100%;
    height: 244px;
    overflow: hidden;
    border-top: 1px solid #1184d6;
    border-bottom: 1px solid #1184d6;
    padding-top: 10px;
    padding-bottom: 10px;
    @include box-sizing(border-box);

    > img, svg {
      size: 100%;
      object-fit: cover;
    }
  }

  &__link {
    position: relative;
    float: left;
    width: 176px;
    height: 41px;
    background-color: #1287d9;
    border: 1px solid #1287d9;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    margin-left: calc(50% - (176px / 2));
    margin-left: -moz-calc(50% - (176px / 2));
    margin-bottom: 10px;
    margin-top: 30px;

    &:hover, &:active, &:focus {
      color: white;
      background-image: linear-gradient(to top, #1287d9 0%, #0e53b0 100%);
    }

    @include breakpoint(max-width 700px) {
      margin-bottom: 10px;
    }
  }

  &__wrapper {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 60px;

    .search-banner__form {
      margin-top: 30px;
    }

    .offers__box:first-of-type {
      margin-top: 30px;
    }

    @include breakpoint(max-width 700px) {
      margin-bottom: 20px;
    }
  }

  &__box {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    //border-radius: 2px;
    //background-color: #fff;
    //padding-left: 20px;
    //padding-right: 20px;
    @include box-sizing(border-box);

    .offers__resp-form--maintitle {
      margin-top: 30px;
      margin-bottom: 30px;
      text-transform: uppercase;
    }
  }

  &__filter {
    position: relative;
    float: left;
    width: 220px;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px;
    @include box-sizing(border-box);

    @include breakpoint(max-width 700px) {
      width: 100%;
    }

    &--form {
      position: relative;
      float: left;
      width: 100%;

      .search-banner__form--date {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    &--label {
      position: relative;
      float: left;
      width: 100%;
      color: #313844;
      font-size: 16px;
      font-weight: 600;
    }

    &--price-from {
      position: relative;
      float: left;
      width: 50%;
      color: #1287d9;
    }

    &--price-field {
      position: relative;
      float: right;
      width: 100%;
      height: 39px;
      color: #313844;
      background-color: white;
      border: 1px solid #1287d9;
      border-radius: 2px;
      padding-left: 10px;
      padding-right: 10px;
      @include box-sizing(border-box);
    }

    &--slider {
      position: relative;
      float: left;
      width: 100%;
      height: 8px;
      margin-top: 10px;
      margin-bottom: 42px;
      background-color: #3da1e6;
      z-index: 0;

      &:last-of-type {
        margin-bottom: 0;
      }

      .ui-slider-range {
        background-color: #000;
      }

      .ui-slider-handle {
        cursor: pointer;
        outline: none;
        width: 20px;
        height: 20px;
        background-color: #565656;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: -6px;
        margin-left: -11px;

        &:nth-of-type(2) {
          margin-left: -11px;
        }
      }
    }
  }

  &__items-wrapper {
    position: relative;
    float: left;
    width: calc(100% - 220px);
    width: -moz-calc(100% - 220px);
    padding-left: 20px;
    @include box-sizing(border-box);

    @include breakpoint(max-width 700px) {
      width: 100%;
      padding-left: 0;
    }

    .pagination {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  &__item {
    position: relative;
    float: left;
    width: 100%;
    //padding-top: 20px;
    padding-bottom: 20px;
    //padding-left: 20px;
    //padding-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    border-radius: 2px;
    @include box-sizing(border-box);

    > h3 {
      position: relative;
      float: left;
      width: 100%;
      padding-top: 18px;
      padding-bottom: 14px;
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 0;
      margin-bottom: 20px;
      @include box-sizing(border-box);
      border-bottom: 1px solid #d2d2d2;
      color: #313844;
      font-size: 22px;
      text-align: left;
      font-weight: 400;

      @include breakpoint(max-width 700px) {
        margin-bottom: 0;
      }
    }

    &--title {
      position: relative;
      float: left;
      width: 100%;
      padding-top: 18px;
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 0;
      margin-bottom: 0;
      @include box-sizing(border-box);
      border-bottom: none;
      color: #313844;
      font-size: 22px;
      text-align: left;
      font-weight: 400;

      @include breakpoint(max-width 700px) {
        margin-bottom: 0;
      }

      .value {
        font-weight: 700;
        color: #1287d9;
      }

      .count {
        position: relative;
        float: left;
        width: 100%;
        font-weight: 700;
      }
    }

    &--img {
      display: block;
      position: relative;
      float: left;
      width: 300px;
      height: 200px;
      overflow: hidden;
      padding-left: 20px;
      padding-right: 20px;
      @include box-sizing(border-box);

      > img, svg {
        size: 100%;
        object-fit: cover;
      }

      @include breakpoint(max-width 700px) {
        width: 100%;
        margin-bottom: 20px;
        padding-right: 0;
        padding-left: 0;
      }
    }

    &--descr {
      position: relative;
      float: left;
      width: calc(100% - (20% + 300px));
      padding-right: 20px;
      @include box-sizing(border-box);

      @include breakpoint(max-width 700px) {
        width: 100%;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    &--from {
      position: relative;
      float: left;
      width: 100%;
      margin-bottom: 10px;
      color: #313844;
      font-size: 16px;
      font-weight: 400;

      .value {
        font-size: 16px;
        font-weight: 700;
        color: #1287d9;
      }
    }

    &--from.from {
      position: relative;
      float: left;
      width: 100%;
      margin-bottom: 10px;
      color: #313844;
      font-size: 16px;
      font-weight: 400;
      padding-left: 30px;
      @include box-sizing(border-box);

      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 14px;
        height: 22px;
        left: 0;
        background-image: url(../img/icons/map-marker-icon.png);
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;

      }

      .value {
        font-size: 16px;
        font-weight: 700;
      }
    }

    &--from.final-date {
      position: relative;
      float: left;
      width: 100%;
      margin-bottom: 10px;
      color: #313844;
      font-size: 16px;
      font-weight: 400;
      padding-left: 30px;
      @include box-sizing(border-box);

      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 18px;
        height: 19px;
        left: 0;
        background-image: url(../img/icons/datepicker-icon.png);
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;

      }

      .value {
        font-size: 16px;
        font-weight: 700;
        color: #313844;
      }
    }

    &--from.date {

      .value {
        font-size: 16px;
        font-weight: 700;
        color: #313844;
      }
    }

    &--about-title {
      position: relative;
      float: left;
      width: 100%;
      text-align: left;
      margin-top: 20px;
      margin-bottom: 10px;
      font-style: 14px;
      text-transform: capitalize;
      font-weight: 400;
      color: #1287d9;
    }

    &--about {
      position: relative;
      float: left;
      width: 100%;
      color: #313844;
      font-size: 16px;
      font-weight: 700;
    }

    &--status {
      position: relative;
      float: left;
      width: 20%;
      padding-right: 20px;

      @include breakpoint(max-width 700px) {
        width: 100%;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    &--price {
      position: relative;
      float: left;
      width: 100%;
      color: #313844;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 10px;

      .value {
        font-size: 22px;
        color: #1184d6;
      }
    }

    &--rew {
      position: relative;
      float: left;
      width: 100%;
      color: #313844;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 10px;

      .value {
        font-size: 16px;
        color: #313844;
        font-weight: 600;
      }
    }

    &--more {
      position: relative;
      float: left;
      width: 100%;
      height: 41px;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: #1287d9;
      border: 1px solid #1287d9;
      border-radius: 2px;
      text-align: center;
      text-transform: uppercase;
      color: white;
      font-size: 16px;
      font-weight: 400;
      line-height: 40px;
      @include box-sizing(border-box);

      &:hover, &:active, &:focus {
        color: white;
        background-image: linear-gradient(to top, #1287d9 0%, #0e53b0 100%);
      }
    }

    &--favorite {
      position: relative;
      float: left;
      width: 32px;
      height: 31px;
      margin-bottom: 10px;
      overflow: hidden;
      background-image: url('../img/icons/fav-start-icon.png');
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;

      &:hover {
        background-image: url('../img/icons/fav-start-active-icon.png');
      }
    }

    &--favorite.to-favorite {
      background-image: url('../img/icons/fav-start-active-icon.png');
    }

    &--more.complaint {
      background-color: #e91818;
      border: 1px solid #e91818;

      &:hover, &:active, &:focus {
        color: white;
        background-image: linear-gradient(to top, #e91818 0%, #ab1818 100%);
      }
    }
  }

  &__images {
    display: block;
    position: relative;
    float: left;
    width: 300px;
    //height: 200px;
    overflow: hidden;
    padding-right: 20px;
    @include box-sizing(border-box);

    @include breakpoint(max-width 700px) {
      width: 100%;
      padding-right: 0;
    }
  }

  &__carousel {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;

    &--slide {
      display: block;
      position: relative;
      float: left;
      width: 300px;
      height: 200px;
      overflow: hidden;

      @include breakpoint(max-width 700px) {
        width: 100%;
        padding-right: 0;
      }

      > img, svg {
        size: 100%;
        object-fit: cover;
      }
    }
  }

  &__nav {
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    //padding-right: 20px;
    @include box-sizing(border-box);

    @include breakpoint(max-width 700px) {
      width: 100%;
      padding: 0;
    }

    &--slide {
      position: relative;
      float: left;
      width: 100%;
      height: 100px;
      overflow: hidden;
      margin: 0 20px;
      cursor: pointer;

      > img, svg {
        size: 100%;
        object-fit: cover;
      }
    }
  }

  &__resp-form {
    position: relative;
    float: left;
    width: 50%;
    margin-top: 20px;
    //margin-bottom: 20px;
    padding-right: 20px;
    @include box-sizing(border-box);

    @include breakpoint(max-width 700px) {
      width: 100%;
    }

    &--maintitle {
      position: relative;
      float: left;
      width: 100%;
      margin-top: 0;
      margin-bottom: 20px;
      color: #1184d6;
      font-size: 22px;
      text-align: center;
      font-weight: 400;
    }

    &--title {
      position: relative;
      float: left;
      width: 162px;
      height: 41px;
      line-height: 40px;
      margin-bottom: 10px;
      color: #313844;
      font-size: 16px;
      font-weight: 400;

      @include breakpoint(max-width 700px) {
        width: 100%;
      }
    }

    &--field {
      position: relative;
      float: left;
      width: calc(100% - (162px + 2px));
      height: 41px;
      margin-bottom: 10px;
      background-color: white;
      border: 1px solid #1287d9;
      border-radius: 2px;
      padding-left: 31px;
      padding-right: 10px;
      @include box-sizing(border-box);

      @include breakpoint(max-width 700px) {
        width: 100%;
      }
    }

    &--text {
      position: relative;
      float: left;
      width: calc(100% - (162px + 2px));
      height: 90px;
      background-color: white;
      border: 1px solid #1287d9;
      border-radius: 2px;
      padding-left: 31px;
      padding-right: 10px;
      @include box-sizing(border-box);
      resize: none;

      @include breakpoint(max-width 700px) {
        width: 100%;
      }
    }

    &--submit {
      position: relative;
      float: right;
      width: 160px;
      height: 41px;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: #1287d9;
      border: 1px solid #1287d9;
      border-radius: 2px;
      text-align: center;
      text-transform: uppercase;
      color: white;
      font-size: 16px;
      font-weight: 400;
      line-height: 40px;

      &:hover, &:active, &:focus {
        color: white;
        background-image: linear-gradient(to top, #1287d9 0%, #0e53b0 100%);
      }

      @include breakpoint(max-width 700px) {
        width: 100%;
      }
    }

    &--notification {
      position: relative;
      float: left;
      width: 50%;
      margin-top: 20px;

      @include breakpoint(max-width 700px) {
        width: 100%;
      }

      > ol {
        position: relative;
        float: left;
        width: 100%;
        margin-top: 10px;

        li {
          position: relative;
          float: left;
          width: 100%;
          color: #313844;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }

  &__recall {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 10px;
    @include box-sizing(border-box);
    border-bottom: 1px solid #1287d9;

    &--name {
      position: relative;
      float: left;
      width: 172px;

      @include breakpoint(max-width 700px) {
        width: 100%;
      }

      .cabinet__avatar {
        width: 120px;
        height: 120px;
        margin-left: calc(50% - (120px / 2));
        margin-left: -moz-calc(50% - (120px / 2));

        @include breakpoint(max-width 700px) {
          width: 100%;
          margin-left: 0;
        }
      }

      .cabinet__user-name {
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        font-size: 16px;
      }

      .cabinet__rating--starts .star {
        width: 15px;
        height: 14px;
      }

      .cabinet__rating--val {
        font-size: 22px;
        line-height: 20px;
        margin-top: 5px;
      }
    }

    &--body {
      position: relative;
      float: left;
      width: calc(100% - (172px + 250px));
      width: -moz-calc(100% - (172px + 250px));

      @include breakpoint(max-width 700px) {
        width: 100%;
      }

      p {
        position: relative;
        float: left;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #313844;
        font-size: 16px;
        font-weight: 400;
      }
    }

    &--tool {
      position: relative;
      float: left;
      width: 250px;

      @include breakpoint(max-width 700px) {
        width: 100%;
      }

      .offers__item--more {
        //width: auto;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}