doctype html
html
    head(lang='en')
        include ../html_open

    body
        include ../header
        section.authorization
            .container
                form.authorization__margins
                    h3.authorization__title Авторизация пользователя
                    h3.authorization__subtitle Для авторизации заполните поля ниже:
                    input(type='text' name='login' placeholder='Логин').authorization__margin
                    input(type='password' name='password' placeholder='Пароль').authorization__margin
                    input(type='submit' value='Зарегистрироваться').authorization__button


        include ../footer
        include ../html_close