doctype html
html
    head(lang='en')
        include ../html_open

    body
        include ../header
        include ../info
        include ../services
        include ../offers
        include ../footer
        include ../html_close